body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 20px;
    font-size: 32px;
    color: #333;
}

.input-form {
    margin-bottom: 20px;
}

.process {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.process label {
    display: inline-block;
    width: 120px;
}

button {
    padding: 10px 20px;
    margin: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#gantt-chart {
    width: 100%;
    height: 400px;
    margin: 20px 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: center;
}

thead {
    background-color: #007BFF;
    color: white;
}
.footer{
    height:100px;
    margin:30px;
    align-self: center;
    background-color: #4580c0;
    border-radius: 1rem;
    color:azure;    
}
